.Content_container{
   
    margin-top:4rem;
    padding-top:5rem;
    width: 80%;
    margin: auto;
    display: flex;
    flex: 1 1;
    font-family: 'Kumbh Sans', sans-serif;

}
.first_sub_container{
flex: 1;
text-align: center;
}

.product1{
width:60%;
border-radius:1rem;
cursor: pointer;
}

.smallphoto img{
    width:13%;
   margin:2rem .6rem;   
}
.pp{
    border-radius: 1rem;
}
.pp:hover{
   opacity: .3;
}
.second_sub_container{
    flex: 1;
    width:50%;
    
    padding: 2rem 5rem;
    padding-right: 9rem;
    /* border: 1px solid red; */
    
    }
    .sc{
        color:#d76c1a ;
        font-weight: 600;
        font-size: .9rem;
    }
    .heading{
        font-weight: 600;
        font-size: 3rem;
    }
    .detail{
        font-size: 1rem;
        color: #7B7C81;
    }
    .price{
        font-weight: 700;
        font-size: 1.5rem;
    }
    .strike{
      margin-top: 1rem;
      color: #7B7C81;
    }
    .cart_detail{
        display: flex;
        
    }
    .discount{
        margin-left: 1rem;
        background-color: #f5e6d8;
        color: #E78233;
        border-radius: .6rem;
        padding: .2rem;
    }
    .cart_element{
        margin:1rem;
        padding: 1rem 4rem;
      
    }
    .ce2{
        background-color:#ff8929 ;
        box-shadow: #f89b4e 0px 25px 20px -20px;
        border-radius:1rem;
        padding:1rem 5rem;
        color: white;
        cursor: pointer;
    }
    .ce1{
        background-color: #F7F8FD;
        border-radius: 1rem;
        padding: 1rem;
    }
    .minus{
        position: relative;
        top: -.3rem;
    }
    .ce1 span{
        padding: 0rem 2rem;
        font-weight: 900;
        font-size: 1.2rem;
    }
    .ce1 img{
        width: .9rem;
       
    }
    .ce2 img{
        width: 1rem;
        padding-right:1rem;
       
    }

 .show{
    
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,.79);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.show .bigimg{
    width:30rem;
    height: 30rem;  
    margin: auto;
    border-radius: 1.5rem;
    margin-left: 32rem;
    margin-top: 3rem;
} 
.showimg{
    display: block;
    width: 30rem;
    margin: auto;
   
}
.showimg img{
    width: 5.5rem;
    height: 5rem;
    margin: 1rem 0rem;
    margin-right: 2rem;
    border-radius:1rem ;
   
}
.hideimg{
    display: none;
}
 
.showbigimg{
    display: block;
}
.hidebigimg{
    display: none;
}
.showimg img:hover{
    opacity: .3;
    background-color: white;
}
.close{
    cursor: pointer;
    position:absolute;
    width: 1rem;
    top: 1.1rem;
    right:34.5rem;
}
.previous{
    cursor: pointer;
    position:absolute;
    padding: 1rem;
    border-radius: 100rem;
    top:17rem;
    left: 29rem;
    background-color: white;
}
.next{
    cursor: pointer;
    position:absolute;
    padding: 1rem;
    border-radius: 100rem;
    top:17rem;
    right: 31rem;
    background-color: white;
}
